<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h1 class="heading">Add Product</h1>
        <form action="{{ url_for('add_product') }}" method="post" class="form">
            <label for="product_name" class="label">Product Name:</label>
            <input placeholder="Enter product name..." type="text" id="product_name" name="product_name" class="input" required /><br /><br />
            <label for="quantity" class="label">Quantity:</label>
            <input placeholder="Enter quantity" type="number" id="quantity" name="quantity" class="input" required /><br /><br />
            <button type="submit" class="button">Add Product</button>
        </form>
    </div>
</body>
</html>
