<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    {% include 'navbar.html' %}

    <div class="container">
      <h1>Error</h1>
      <p class="heading">An error has occured</p>
      <p style="color: red;">{{ error_message }}</p>

      <a href="{{ url_for('home') }}"><button>{{ button_label }}</button></a>
    </div>
  </body>
</html>
